bridge:
  port: /dev/ttyUSB0
  name: Ajax uartBridge
  devices:
    CAFEAA:
      mqtt_state_topic: living_room/fireprotect
      name: Living room FireProtect
    BEEFEE:
      mqtt_state_topic: bathroom/leakprotect
      name: Guest bathroom LeaksProtect

log:
  level: error
  fancy: false

mqtt:
  host: mqtt://127.0.0.1
  password: null
  username: null
  namespace: ajax

hass:
  enabled: true
  autodiscovery_prefix: homeassistant
